.product-detail-card {
  max-width: 600px;
  margin: 0 auto;
}

.product-detail-image {
  width: 50%;
  max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto 1rem auto;
  border-radius: 16px;
  object-fit: cover;
}