/* Asegúrate de que no haya errores de sintaxis arriba de esta línea */

.register-link {
    text-align: center;
    padding: 15px;
 
 
    margin-top: 20px;
}

.register-link a {
    color: #0d6efd;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.register-link a:hover {
    color: #0a58ca;
    text-decoration: underline;
}

.register-button{
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #0a58ca;
}

