:root {
    --gold-primary: #C5A25D;
    --gold-dark: #a88948;
    --gold-light: #f9f1d8;
    --dark-blue: #0A2540;
}

.register-link {
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

.register-link a {
    color: var(--gold-primary);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.register-link a:hover {
    color: var(--gold-dark);
    text-decoration: underline;
}

.register-button{
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--gold-primary);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: var(--gold-dark);
}

 
.form-control:focus {
    border-color: var(--gold-primary);
    box-shadow: 0 0 0 0.25rem rgba(197, 162, 93, 0.25);
}

.form-label {
    color: var(--dark-blue);
    font-weight: 500;
}

 
h2 {
    color: var(--gold-primary);
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.alert .btn-close {
    background-color: transparent !important; 
    border: none;
    float: left;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    padding: 0 10px;
    cursor: pointer;
}
    
 
.alert .btn-close::before {
    content: "×"; 
}

.alert .btn-close:hover {
    opacity: .75;
}

.alert {
    margin-bottom: 30px !important; 
 
    display: block; 
    position: relative;
}