/* Asegúrate de que no haya errores de sintaxis arriba de esta línea */

.register-link {
    text-align: center;
    padding: 15px;
 
 
    margin-top: 20px;
}

.register-link a {
    color: #0d6efd;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.register-link a:hover {
    color: #0a58ca;
    text-decoration: underline;
}

.register-button{
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #0a58ca;
}

.alert .btn-close {
    background-color: transparent !important; /* Quita el azul */
    border: none;
    float: left;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    padding: 0 10px;
    cursor: pointer;
}
    
/* Dibujamos la X manualmente porque falta el icono */
.alert .btn-close::before {
    content: "×"; 
}

.alert .btn-close:hover {
    opacity: .75;
}

.alert {
    /* !important obliga al navegador a usar este margen sí o sí */
    margin-bottom: 30px !important; 
    
    /* Asegura que la alerta ocupe su propio espacio y empuje lo de abajo */
    display: block; 
    position: relative;
}